{% extends 'main/layout.html' %}

{% block title %}About{% endblock %}

{% block header %}<h1>txthub.ru</h1>{% endblock %}

{% block content %}
    <main>
        <p>Напишите что-нибудь , нажмите <a href="{% url 'home' %}">«Опубликовать»</a>, и оно появится в сети.</p>
        <p>Нет никакого отслеживания, рекламных технологий, веб-шрифтов, аналитики, javascript, куки, учетных записей пользователей, комментариев, добавления в друзья, лайков, количества подписчиков или других количественных показателей социального капитала. Единственный практический способ узнать о публикации — это если автор ссылается на нее в другом месте.</p>
        <p>Но это разборчивый , не бессмысленный статический гипертекст, подходящий для коротких рассказов , недостаточно коротких твитов и приключений и всех ваших потребностей в цифровых станциях или интернет-тайниках . Здесь вы можете кричать в пустоту и знать, что форма вашего голоса там навсегда.</p>
        <p>Используйте <a href="result.html">базовый Markdown</a> для форматирования сообщений: #header, **bold**, *italic*, `code`, >quote и гиперссылки в формате [link](http://example.com).</p>
        <p>Авторы проекта <a href="https://t.me/makszhilyaev">@makszhilyaev</a> и <a href="https://t.me/horrosanton">@horrosanton</a></p>
    </main>
{% endblock %}